
* {
    margin: 0;
    padding: 0;
} 

body {
    background-color: #f0efef;
    font-family: 'Merriweather', serif;  
}
.container{
    display: flex;
    overflow: hidden;
    flex-direction: row;
}

h2 {
    font-size: 5vw; 
    font-family: 'Roboto', sans-serif;
    color: #1F2937;
    padding-bottom: 10%;
}
#index {
    text-align: right;
}
/* debut colonne gauche */
.colGauche{
    background-color: #c2d4dd;
    width: 33%;
    list-style-type: none;
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
}
.colDroite{
    background-color: #f7f7f7;
    width: 67%;
}
.topG{
    background-color: #b0aac0;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 2%;
    justify-content: space-evenly;
}
#cvPic{
    border-radius: 50%;
}
.atouts li{
    list-style-type: none;
    color: #1F2937;
    padding-bottom: 10px;
    font-size:20px;
}

.lang  li{
    list-style-type: none;
    color: #1F2937;
    padding-bottom: 2px;
    font-size:3vw;
    padding-top: 6px;
    display: flex;
    align-items: center;
    justify-content: space-between; 

}
.lang {
    display: flex;
    flex-direction: column;
    align-items: right;
    justify-content: center;
    padding: 4%;
}
.lang ul {
    padding: 0;
    margin: 0;
}
progress {
    border: none;
    width: 50%;
    height: 1.5vw;
}    
progress::-webkit-progress-value {
    background: #1F2937;
    border-radius: 2px;
}
progress::-webkit-progress-bar {
    background: #2a9d8f;
    border-radius: 2px;
    
}
#title {
    font-family: 'Roboto', sans-serif;
    color: #1F2937;
    font-size: 5vw;
    display: flex;
    justify-items: center;
 
}
#nom {
    font-family: 'Roboto', sans-serif;
    color: #1F2937;
    font-size: 4vw;


}
/* fin colonne gauche */
/* débute colonne droit */
.infos {
    padding-left: 5%; 
    padding-bottom: 1%
}
.colDroite li {
    list-style-type: none;
    font-size: 3vw;
    font-family: 'Roboto', sans-serif;
    padding-left: 10px;
    color: #1F2937;
    padding-bottom: 3%;
}
.colDroite h2 {
    padding-top: 5%;
    padding-bottom: 4%;
    padding-left: 5%;
}
p{
    padding-left: 10%;
    color: rgb(65, 71, 77);
    font-size: 2vw;
}
/* Urs */
.urs{
    display: flex;
}
/* Umons */
.uMons{
    display: flex;
}
.uMons #uMonsPic{
    padding-top: 27px;
}
.uMons #MonsText{
    padding-top:50px;
}
/* ulb */
.ulb{
    display: flex;
}
/* milocs */
.milocs{
    display: flex;
}
/* rob */
.rob{
    display: flex;
}
/* stage */
.stage{
    display: flex;   
}
/* Fin colonne de droite */