* {
    margin: 0;
    padding: 0;
}
.container {
    display: flex;
    height: 80vh;
}
.left {
    background-color: green;
    width: 25%;
    
}
.right {
    background-color:red;
    width: 75%;
    
}
.navbar {
    background-image: url(https://static.vecteezy.com/system/resources/previews/002/203/921/non_2x/empty-square-neon-background-free-vector.jpg);
    height: 10vh;
    
    font-family: Helvetica;
    color: blanchedalmond
}
.footer {
    background-color: grey;
    width: 100%;
    height: 10vh;
    font-size:200%;
}