body {
    background-image: url("https://i.ytimg.com/vi/5zMY1iRYNIY/maxresdefault.jpg");
    border-radius: 20px;
    background-repeat: no-repeat;
    background-size: cover;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 90vh;
}
button {
    display: inline-block;
    padding: 35px 45px;
    font-size: 24px;
    cursor: pointer;
    text-align: center;
    text-decoration: none;
    outline: none;
    color: #fff;
    background-color: #1F2937;
    border: none;
    border-radius: 15px;
    box-shadow: 0 5px #2a9d8f;
    font-family: 'Montserrat', sans-serif;
}
button:hover {
    background-color: #1F2937}
      
button:active {
    background-color: #1F2937;
    box-shadow: 0 3px #2a9d8f;
    transform: translateY(2px);
}