* {
    margin: 0;
    padding: 0;
}
body {
    background-color: #e9c46a;
}
#container {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    padding: 5vh;

}
button {
    display: inline-block;
    padding: 15px 25px;
    font-size: 24px;
    cursor: pointer;
    text-align: center;
    text-decoration: none;
    outline: none;
    color: #fff;
    background-color: #1F2937;
    border: none;
    border-radius: 15px;
    box-shadow: 0 5px #2a9d8f;
    font-family: 'Montserrat', sans-serif;
}
button:hover {
    background-color: #1F2937}
      
button:active {
    background-color: #1F2937;
    box-shadow: 0 3px #2a9d8f;
    transform: translateY(2px);
}

h1 {
    color: #1F2937;
    font-family: 'Montserrat', sans-serif; 
    padding: 5vh;

}
img {
    width: 75%;
    height: 75%;
}