* {
    margin: 0;
    padding: 0;
}  
body {
    background-color: #f4a261;
    font-family: 'Merriweather', serif;
    width: 100%;
    height: 100%;
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
}
#navbar{
    display: flex;
    width: 100%;
    background-color: #1F2937; 
    align-items: center;
    justify-content: space-around;
    position: fixed;
}

ul {
    list-style: none;
    padding: 0;
    margin: 0;
    border-radius: 2px;
    display: flex;
}
li a {
    display: block;
    color: #2a9d8f;
    padding: 15px 25px;
    text-decoration: none;
    font-size: 2vw;
}

#nomTop {
    background-color: #2a9d8f;
    
}
#insta {
    float: right;
}
#insta:hover {
    background-color: black;
    border-radius: 20px;
}
#github {
    float: right;
}
#github:hover {
    background-color: #2a9d8f;
    border-radius: 20px;
}
#twitch:hover {
    background-color: #dd9be565;
    border-radius: 20px;
}
.container {
    background-color: #e9c46a;
    justify-items: center;
    width: 100%;
    display: flex;
    flex-direction: column;
}
.titreImage {
    color: #264653;
    display: flex;
    justify-content: center;
    align-items: center;
    padding-top: 5%;
    }
h1 {
    font-size: 4vw;
    padding-top: 50px;
    padding-bottom: 30px;
    padding-left: 10px;
    margin: 0;
    width: 100%;
    box-sizing: border-box;

}
#anthony { 
    border-radius: 50%;
    padding-bottom: 2vh;
    padding-top: 2vh;
}
#intro {
    padding-bottom: 8px;
    padding-left: 6%;
    font-size: 3vw; 
    font-family: 'Roboto', sans-serif;
    text-align: left;
}
#webDev {
    text-align: left;
    font-size: 2vw;
    padding-bottom: 25px;
    color: #e76f51;
    padding-left: 6%;


}
#index {
    text-align: right;
}
.titreImage li a {
    
    border: 0.5px solide;
    border-radius: 2px;
    padding-right: 20px;
    margin: 10px
}
.titreImage li #pp {
    background-color: transparent;
    border: 0.5px solid #2a9d8f;
    border-radius: 2px;
    color: #1F2937;
}
.motiv{
    background-color: beige;
    padding-bottom: 75px;
    line-height: 30px;
    padding-left: 1%;
}
#orange1 {
    padding-left: 1%
}
h2 {
    padding-top: 30px;
    padding-bottom: 30px;
    font-size: 32px; 
    font-family: 'Roboto', sans-serif;
    text-align: center;
    color: #1F2937;
}
/* .orange1 {
    padding-top: 10px;
    padding-left: 400px;
    padding-right: 400px;
    padding-bottom: 75px; 
} */

#svg-menu{
    display: none;
}
/* debut media */
@media screen and (max-width: 640px) {
.titreImage {
    display: flex;
    align-items: center;
    justify-content: space-around;
}

#anthony {
    display: none;
}
#svg-menu {
    display: block;
    background-color: transparent; 
}
#r1 {
    fill: black;
}
#r2 {
    fill: black;
}
#r3 {
    fill:black;
}
.page {
    display: none;
}
#intro {
    font-size: 12vw;
}
#webDev {
    font-size: 8vw;

}
}

/* fin media */
/* debut popup*/
#popnavbar {
    display: none;
    justify-content: flex-end;
    position: fixed;
    top: 8%;
    right: 7%;
}
#popnavbar ul {
    display: flex;
    flex-direction: column;
    background-color: #1F2937;
}
#popnavbar ul :hover {
    color: red;
}
@media only screen and (max-width: 100px) { 
    #popnavbar { 
      display: none; 
    } 
  }