h1 {
    color: #FBBF24;
    background-color: #34D399;
}

/* un com */
ul li {
    color: yellow;
    font-size: 1.5em;
    list-style: none;
}
ol li {
    color: green;
}
.ingredients {
    color: pink;
}
.souligne {
 text-decoration: underline;
}
li:hover {
    color: red;
}
#prenom:focus {
    background-color: lightgrey;
}
#password:focus {
    background-color: rgba(124, 11, 11, 0.301);
}
#montext:focus {
    background-color: lightblue;
}
#montitre {
    font-style: italic;
}
#appetit {
    font-weight: bold;
}
a:link {
    color: rgb(4, 0, 17);
}

.container{
    display: flex;
    padding: 10%;
    height: 100px;
    width: 100%;
    background-color: pink;
    justify-content: space-around;
    align-content: space-around;
    align-items: center;
    box-sizing: border-box;
    border: 1px solid black;
    font-size: 20px;

}
.yellow {
    background-color: yellow;
    width: 200px;
    box-sizing: border-box;
    border: 1px solid black;
    height: 90px;
    display: flex;
    flex-direction: column;
    align-items: center;
    font-size: 20px;
    justify-content: center;
}
.blue {
    background-color: blue;
    width: 200px;
    box-sizing: border-box;
    border: 1px solid black;
    height: 90px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
.green {
    background-color: green;
    width: 200px;
    box-sizing: border-box;
    border: 1px solid black;
    margin: 10px;
    height: 90px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

@import url("https://fonts.googleapis.com/css?family=Lato:300");

body {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  background: #222;
}

.gradient-border {
  --border-width: 3px;

  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 300px;
  height: 200px;
  font-family: Lato, sans-serif;
  font-size: 2.5rem;
  text-transform: uppercase;
  color: white;
  background: #222;
  border-radius: var(--border-width);
}
  ::after {
    position: absolute;
    content: "";
    top: calc(-1 * var(--border-width));
    left: calc(-1 * var(--border-width));
    z-index: -1;
    width: calc(100% + var(--border-width) * 2);
    height: calc(100% + var(--border-width) * 2);
    background: linear-gradient(
      60deg,
      hsl(224, 85%, 66%),
      hsl(269, 85%, 66%),
      hsl(314, 85%, 66%),
      hsl(359, 85%, 66%),
      hsl(44, 85%, 66%),
      hsl(89, 85%, 66%),
      hsl(134, 85%, 66%),
      hsl(179, 85%, 66%)
    );
    background-size: 300% 300%;
    background-position: 0 50%;
    border-radius: calc(2 * var(--border-width));
    animation: moveGradient 4s alternate infinite;
  }


@keyframes moveGradient {
  50% {
    background-position: 100% 50%;
  }
}
